*.ckpt
*.pth
*.pt
*.mp4
*.log
*.safetensors
*.so
*.o
*.obj
*.a
*.gch
.ply
!assets/video0.mp4
!assets/video1.mp4
!assets/video2.mp4
!assets/video3.mp4
!assets/video4.mp4
!assets/video5.mp4
!assets/video6.mp4
!assets/video7.mp4
!assets/video8.mp4
__pycache__
.pyc
.idea/
.ipynb_checkpoints/
output/*
.vscode
test/*
checkpoint/*
input/*
input_sr/*
output/*
output_6/*
test/*
SDFT_weights/*
pano_segment/pretrained/*
stitch_diffusion/pretrained_model/*
stitch_diffusion/output/*
stitch_diffusion/vae/*
stitch_diffusion/.config/*
**/build/*
**/dist/*
